{% extends 'base.html' %}
{% load bootstrap4 %}


{% block body %}
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 login">
            <h4 align="center" class="welcome">Log In</h4>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form size="medium" show_label=False %}
                <input type="submit" value="SIGN IN" class="btn btn-primary btn-block btn-lg">
            </form>
        </div>
    </div>
{% endblock body %}
    